#bordaJogo{
    background-image : linear-gradient(to bottom right, #05cbba, #a77fcd); 
}

#bordaJogo img
{ 
    margin          : 5px; 
    height          : 90px;
    width           : 90px;
    background-size : contain;
    position        : relative;
    top             : 65px;
    border          : 5px solid white;
    border-radius   : 10px; 
}

#bordaJogo p
{
	visibility: hidden;
}

#pontos
{
	position    : absolute;
	top         : 20px;
    left        : 225px; 
    font-family : Century Gothic; 
    font-size   : 16pt;
    color       : #f2ebd3;
    user-select : none; 
}

#btnReiniciar{
    background-image : none; 
    background-color : #2e3d49;
    color            : #f2ebd3;
    border-radius    : 0px;  
    border           : 2px solid #f2ebd3;  
}

#btnReiniciar:hover{
    transition-timing-function : ease-in; 
    transition                 : 0.5s; 
    background-color           : #02ccba; 
}