@font-face{
	font-family : 'Gameplay'; 
	src         : url('../fonts/Gameplay.ttf');
}

#Nivel{
	position    : absolute;
	top         : 0px; 
	left        : 15px; 
	font-family : 'Gameplay'; 
	font-size   : 14pt;
	color       : white; 
	user-select : none; 
}

#btnEstudar{
	width            : 50px; 
	height           : 200px; 
	position         : absolute; 
	top              : 135px; 
	left             : 280px;
	font-family      : Century Gothic;
	font-size        : 18pt;
	border-style     : none;
	color            : white;  
	outline          : none;
	transform        : rotate(20deg);
	user-select      : none;    
}

#btnEstudar:hover{
	animation                 : shake 2s;
    animation-iteration-count : infinite;
    cursor                    : pointer;
}

#btnTrabalho{
	border-style     : none;
	color            : white;   
	visibility       : hidden; 
	width            : 90px; 
	height           : 120px; 
	position         : absolute;  
	outline          : none;
	user-select      : none; 
}

#btnTrabalho:hover{
	transform  : scale(1.025);
	cursor     : pointer;   
}

#myProgress{
	border-radius    : 25px;
	width            : 500px; 
	position         : absolute; 
	top              : 65px; 
	left             : 50px; 
	background-color : grey;   
}

#barra{
	border-radius    : 25px; 
	background-image : linear-gradient(#36900a, #6de334);
	height           : 25px; 
	width            : 0%; 
}

#Prova{
	font-family : 'Gameplay';
	font-size   : 8pt;
	font-weight : bold; 
	color       : white;  
	position    : absolute; 
	top         : 10px; 
	right       : 15px;
	user-select : none; 
}

#PDf{
	font-family : 'Gameplay';
	font-size   : 10pt;
	font-weight : bold; 
	color       : white;  
	position    : absolute; 
	top         : 25px; 
	right       : 15px;
	user-select : none; 
}

#btnDp, #btnDp2, #btnDp3{
	border-style  : none;   
	visibility    : hidden; 
	width         : 60px; 
	height        : 80px; 
	position      : absolute;  
	outline       : none;
	user-select   : none; 
}

@keyframes shake {
    0%   { transform: translate(1px, 1px) rotate(0deg); }
    10%  { transform: translate(-1px, -2px) rotate(-1deg); }
    20%  { transform: translate(-3px, 0px) rotate(1deg); }
    30%  { transform: translate(3px, 2px) rotate(0deg); }
    40%  { transform: translate(1px, -1px) rotate(1deg); }
    50%  { transform: translate(-1px, 2px) rotate(-1deg); }
    60%  { transform: translate(-3px, 1px) rotate(0deg); }
    70%  { transform: translate(3px, 1px) rotate(-1deg); }
    80%  { transform: translate(-1px, -1px) rotate(1deg); }
    90%  { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}