#pt{
	position    : relative;
	top         : 100px;
	font-family : Century Gothic;
	left: -120px; 
}

#pt2{
	position    : relative;
	top         : 100px;
	font-family : Century Gothic; 
	left: -90px;
}

#controle
{
	position    : relative;
	top         : -370px;
	font-family : Century Gothic; 
	left: 170px;
}



#tela{
	position   : relative; 
	top        : -325px; 
	z-index    : 1000;
	width      : 401px;
	height     : 400px; 
	visibility : hidden;  
}