#pt{
	position    : relative;
	top         : 100px;
	font-family : Century Gothic; 
}

#tela{
	position   : relative; 
	top        : -325px; 
	z-index    : 1000;
	width      : 401px;
	height     : 400px; 
	visibility : hidden;  
}