#menu ul{
		padding          : 0px;
		margin           : 0px;
		background-image : linear-gradient(black, #2f2f2f);
		list-style       : none;
		font-size        : 18pt; 
		font-family      : Tw Cen MT;  
		font-weight      : bold; 
	}

	#menu ul li { display : inline; }

	#menu ul li a{
		padding          : 5px 10px; 
		display          : inline-block; 
		color            : white;
		text-decoration  : none; 
	}

	#menu .menu{
		background-image : linear-gradient(#920303, #c93131);
		list-style       : none; 
	}

	#menu .menu li a{
		padding          : 5px 10px; 
		padding-bottom   : 0px; 
		display          : inline-block; 
		color            : white;
		text-decoration  : none;
		border-bottom    : 5px solid #c93131;    
	}

	#menu .menu li a:hover{
		opacity          : 0.5;
		border-bottom    : 5px solid black;  
	}

	.logo{
		height : 70px;
		width  : 70px;  
	}

	.home{
		height : 30px;
		width  : 30px;  
	}

	#bordaJogo{
		position : relative;
		top      : 80px; 
		left     : 365px;
		border   : 1px solid grey;
		height   : 400px;
		width    : 600px;  
	}

	.tituloJogo{
		font-family : Century Gothic;
		font-size   : 20pt; 
		position    : relative;
		top         : 25px;
		left        : 25px;  
	}

	.separacao{
		position : relative;
		top      : 35px;
	}

	#btnEstudar{
		border-radius    : 25px;
		font-family      : Century Gothic;
		font-size        : 18pt;
		background-image : linear-gradient(black, #2f2f2f);
		border-style     : none;
		color            : white;   
	}

	#btnTrabalho{
		border-radius    : 15px;
		font-family      : Century Gothic;
		font-size        : 10pt;
		background-image : linear-gradient(#920303, #c93131);
		border-style     : none;
		color            : white;   
	}

	#myProgress{
		border-radius    : 25px;   
	}

	#barra{
		border-radius    : 25px; 
		background-image : linear-gradient(#36900a, #6de334); 
	}

	#Prova{
		font-family : Century Gothic; 
	}

	#PDf{
		font-family : Century Gothic; 
	}

	#btnDp, #btnDp2, #btnDp3{
		border-radius : 15px;
		font-family   : Century Gothic;
		border-style  : none;   
	}

	/*#telaInicio{
		background : url(inicio.png); 
		height     : 400px;
		width      : 600px;
		position   : absolute;
		left       : 365px;
	}*/

	#telaInicio{
		position   : relative;
		background : url(inicio.png); 
		top        : -322px; 
		left       : 365px;
		border     : 1px solid grey;
		height     : 400px;
		width      : 600px;  
	}

	#gameOver{
	 	position   : relative;
		background : url(game-over.png); 
		top        : -725px; 
		left       : 365px;
		border     : 1px solid grey;
		height     : 400px;
		width      : 600px;  
	}

	#btnIniciar{
		width            : 200px; 
		height           : 50px;
		border-radius    : 25px;
		font-family      : Century Gothic;
		font-size        : 18pt;
		background-image : linear-gradient(black, #2f2f2f);
		border-style     : none;
		color            : white;		 
	}